@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,600;9..40,700;9..40,900&display=swap');

:root {
    --bg-color: #FFFFFF;
    --dark-orange: #FF8C00;
    --light-orange: #FFA500;
    --black-color: #000000;
    --green-color: #008000;
}

* {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-size: cover;
    background-color: var(--bg-color);
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: var(--dark-orange);
    border-radius: 20px;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 3rem;
    color: var(--dark-orange);
    text-align: center;
}

#menu-btn {
    font-size: 3rem;
    border-radius: .5rem;
    background: var(--bg-color);
    color: var(--dark-orange);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: -40rem;
}

.btn {
    display: inline-block;
    padding: 1.5rem 4rem;
    font-size: 2.5rem;
    border-radius: 5rem;
    border: 2px solid var(--bg-color);
    background-color: transparent;
    color: var(--bg-color);
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover {
    background-color: var(--dark-orange);
}


.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: var(--bg-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 1rem 9%;
}

.header img {
    width: 100px;
    height: auto;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--dark-orange);
}

.header .navbar a:hover {
    color: var(--light-orange);
    border: .2rem solid var(--light-orange);
    border-radius: 5rem;
    padding: .5rem 2rem;
}

.header .navbar a:active {
    color: var(--light-orange);
}

.dark-mode {
    background-color: var(--black-color);
    color: var(--bg-color);
}

#toggleButton {
    font-size: 4rem;
    color: var(--dark-orange);
    background-color: var(--bg-color);
}

.hero {
    display: flex;
    flex: 1 1 45rem;
    flex-direction: column;
    margin-top: 9rem;
    height: 150vh;
    background: url('/assets/3d-futuristic-illustration-with-flowing-cyber-dots.jpg');
    width: 100%;
    background-size: cover;
}

.hero .content {
    padding: 0 9%;
}

.hero .brand {
    padding: 0 9%;
}

.hero .content h1 {
    font-size: 13rem;
    color: var(--dark-orange);
}

.hero .brand h2 {
    font-size: 8rem;
    color: var(--bg-color);
    margin-bottom: 2rem;
}

.work-section .work {
    /* background: url('/assets/black\ and\ orange\ bg.jpg'); */
    background-size: cover;
    height: 370vh;
}

.work-section .work .work-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 9rem .5%;
}

.work-section .work .work-content {
    flex: 1 1 45rem;
}


.work-section .work .work-img {
    flex: 1 1 45rem;
}

.work-section .work h1 {
    font-size: 10rem;
    color: var(--dark-orange);
    text-align: center;
    margin-top: 3rem;
}

.work-section .work .work-content p::first-letter {
    text-transform: capitalize;
}

.work-section .work .work-content p {
    font-size: 3rem;
    color: var(--dark-orange);
    margin-bottom: 4rem;
    text-align: justify;
    text-transform: none;
}

.work-section .work .work-img img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.work-section .image-show {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 2%
}

.work-section .image-show h1 {
    font-size: 12rem;
    color: var(--dark-orange);
    text-align: center;
    margin-top: 3rem;
    text-transform: capitalize;
}

.work-section .image-show img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.work-section .image-show p {
    font-size: 3rem;
    color: var(--dark-orange);
    margin-bottom: 4rem;
    text-align: justify;
    text-transform: none;
}

.free {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem 5%;
    height: 440vh;
    background: url('/assets/coverr-two-way-road-8177-1080p.mp4');
}

.free .free-container {
    flex: 1 1 45rem;
}


.free .free-container .free-content h1 {
    font-size: 12rem;
    color: var(--dark-orange);
    margin-bottom: 4rem;
    text-align: justify;
    text-transform: capitalize;
}

.free .free-container .free-content p {
    font-size: 3rem;
    color: var(--light-orange);
    margin-bottom: 4rem;
    text-align: justify;
    text-transform: none;
}

.free .free-container .free-content p::first-letter {
    text-transform: capitalize;
}

.free .free-img {
    flex: 1 1 45rem;
}

.free .free-img img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.video-section .bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

video {
    object-fit: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
    padding: 5rem 9%;
}

.footer .box-container .box a {
    display: block;
    font-size: 3rem;
    padding: 1rem 0;
    color: var(--bg-color);
    text-transform: capitalize;
}

.footer .box-container .box p {
    display: block;
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--bg-color);
    text-transform: capitalize;
}


.footer .box-container .box a:hover {
    color: var(--light-orange);
    border: .3rem solid var(--light-orange);
    border-radius: 5rem;
    padding: .5rem 1rem;
}




/* media queries  */

@media (max-wdith: 991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 2rem 9%;
    }

    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }


    .hero .content h1 {
        font-size: 7.5rem;
    }

    .hero .brand h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .work-section .work .work-content p {
        font-size: 1.5rem;
    }

    .work-section .image-show h1 {
        font-size: 6rem;
        color: var(--dark-orange);
        text-align: center;
        margin-top: 6rem;
        text-transform: capitalize;
    }
}

@media (max-width: 768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        height: calc(100vh - 15.5rem);
        background: #fff;
        border: var(--border);
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar a {
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
        color: var(--dark-orange);
    }


    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .hero {
        margin-top: 15rem;
        height: 100vh;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}